body {
    font-family: Arial, sans-serif;
    background-color: #fdf6e4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f7c4b3;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    color: #333;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button {
    background-color: #ff7b54;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
}

.button:hover {
    background-color: #ff6347;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #f7c4b3;
}

/* Estilizando o botão de envio */
.submit-btn {
    background-color: #ff7b54;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #ff6347;
}


/* Estilo para as cartas */
.cartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.carta {
    background-color: #ffcb74;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carta:hover {
    transform: scale(1.05);
}

/* Estilo da mensagem */
.mensagem-oculta {
    display: none;
}

#mensagem {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#fechar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#fechar-btn:hover {
    background-color: #ff4500;
}
